* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

#main {
    width: 100%;
    height: 100vh;

    background: linear-gradient(to right bottom, #4b4b4b, #ac995d);
    background-position: center;
    position: relative;
}

.circle-box {
    position: absolute;
    height: 450px;
    width: 450px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

svg {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.user-box {
    width: 350px;
    position: absolute;

    top: 80px;
    left: 50px;

    color: white;
    text-align: center;
}

.user img {
    width: 132px;
    margin-bottom: 10px;

    border: 3px solid white;
    border-inline: 2px;
    border-radius: 50%;
}

.s_btn {
    background: rgba(0, 0, 0, 0.275);

    border: 1px solid white;
    border-radius: 10px;
    
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
    color: white;
    margin-top: 10px;
    padding: 12px 32px;
    

    font-size: 16px;
    display: inline-block;
    
    font-weight: bold;
    text-decoration: none;
}